#about_reasons {
  display: flex;
  gap: 1.5rem;
}

.about_reason {
  flex: 1 1 0;
  border-left: 2px solid #c73259;
  padding-left: 1.5rem;
}

.about_reason:nth-of-type(2) {
  border-left: 2px solid #8aa693;
}

#about_timeline {
  display: grid;
  grid-auto-rows: 1fr; /* all rows same height */
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "one   two   three"
    "four  five  six";
}

.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}

.one,
.two {
  border-bottom: 1px solid #c73259;
}

.two,
.four,
.six {
  border-left: 1px solid #c73259;
}

.about_timeline_item {
  padding: 1.5rem;
}

@media (max-width: 1023px) {
  .about_timeline_item {
    flex: 1 1 0;
    padding: 0.5rem;
  }
}

@media (max-width: 743px) {
  #about_reasons {
    flex-direction: column;
    gap: 1rem;
  }

  .about_reason {
    padding-left: 0.5rem;
  }

  #about_timeline {
    grid-template-columns: 1fr 1fr; /* two columns on larger screens */
    grid-template-areas:
      "four one"
      "five two"
      "six  three";
  }

  .about_timeline_item {
    padding: 0.5rem;
  }

  .one,
  .two,
  .three,
  .four,
  .five,
  .six {
    border: none;
  }

  .four,
  .five,
  .six {
    border-right: 1px solid #c73259;
  }

  .two,
  .four,
  .six {
    border-top: 1px solid #c73259;
  }
}
