#nextTrips_banner {
  background-image: url("./images/banner.webp");
  color: #ffebf2;
  display: flex;
  padding: 3rem;
  gap: 1.5rem;
  border-radius: 8px;
}

#nextTrips_banner_left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nextTrips {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.nextTrips > div {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.nextTrip {
  border: 2px solid #839b8d;
  border-radius: 8px;
  gap: 1.5rem;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.nextTrip > img {
  height: auto;
  width: 100%;
}

.nextTrip_content {
  padding: 0rem 1.5rem;
}

.nextTrips_list {
  list-style-type: none;
  padding-left: 0rem;
}

.nextTrips_list > li {
  margin-bottom: 1.5rem;
  display: flex;
}

.nextTrips_list > li:nth-of-type(1):before {
  content: url("../../images/location_on.png");
  margin-right: 1.5rem;
}

.nextTrips_list > li:nth-of-type(2):before {
  content: url("../../images/timelapse.png");
  margin-right: 1.5rem;
}

.nextTrips_list > li:nth-of-type(3):before {
  content: url("../../images/local_fire_deparment.png");
  margin-right: 1.5rem;
}

.nextTrips_list > li:nth-of-type(4):before {
  content: url("../../images/paid.png");
  margin-right: 1.5rem;
}

@media (min-width: 769px) and (max-width: 1023px) {
  .nextTrips {
    gap: 8px;
  }

  .nextTrips > div {
    gap: 8px;
  }

  .nextTrips_list > li {
    margin-bottom: 0.5rem;
  }

  .nextTrips_banner_right_criteria > h3 {
    text-align: center;
  }

  .nextTrip {
    border: 1px solid #839b8d;
    border-radius: 4px;
  }

  #nextTrips_banner {
    padding: 0.5rem;
  }

  .nextTrips_list > li:nth-of-type(1):before {
    content: url("../../images/location_tablet.png");
    margin-right: 1.5rem;
  }

  .nextTrips_list > li:nth-of-type(2):before {
    content: url("../../images/timelapse_tablet.png");
    margin-right: 1.5rem;
  }

  .nextTrips_list > li:nth-of-type(3):before {
    content: url("../../images/local_fire_department_tablet.png");
    margin-right: 1.5rem;
  }

  .nextTrips_list > li:nth-of-type(4):before {
    content: url("../../images/paid_tablet.png");
    margin-right: 1.5rem;
  }
}

@media (max-width: 768px) {
  #nextTrips_banner {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }

  .nextTrips_banner_right_criteria > h3 {
    text-align: start;
  }

  .nextTrips {
    flex-direction: column;
  }

  .nextTrips > div {
    flex-direction: column;
    align-items: center;
  }

  .nextTrip {
    border: 0.5px solid #8aa693;
    border-radius: 4px;
    max-width: 450px;
  }

  .nextTrip_content {
    padding: 0 0.5rem;
  }

  .nextTrips_list > li:nth-of-type(1):before {
    content: url("../../images/location_mobile.png");
    margin-right: 1.5rem;
  }

  .nextTrips_list > li:nth-of-type(2):before {
    content: url("../../images/timelapse_mobile.png");
    margin-right: 1.5rem;
  }

  .nextTrips_list > li:nth-of-type(3):before {
    content: url("../../images/local_fire_department_mobile.png");
    margin-right: 1.5rem;
  }

  .nextTrips_list > li:nth-of-type(4):before {
    content: url("../../images/paid_mobile.png");
    margin-right: 1.5rem;
  }
}
